Flask==1.1.2
gensim==3.8.3
Jinja2==2.11.2
pandas==1.1.2
scikit-learn==0.23.1
Werkzeug==1.0.1
nltk==3.5.0
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
