{% extends "base.html" %}
  {% block title %} Comic Search  {% endblock %}
  {% block content %}
</br></br>
 </br>
 <div class="container">
	{% for row in row_data %}
		{% for col, row_ in zip(column_names, row) %}
			{% if col == 'title' %}
					{% set list1 = row_.split('***') %}
						{% for item in list1 %}
							<h2>{{ item }}</h2>
						{% endfor %}
			{% elif col == 'writer' %}
					{% set list1 = row_.split(',') %}
						<strong>Writer: </strong>
						{% for item in list1 %}
						  <a href="#" onclick="document.getElementById('someID').value='{{item}}';   
						  document.getElementById('someType').value='writer';   		
						  document.getElementById('search_form').submit();
">{{item}}</a>									
						{% endfor %}
						</br>
			{% elif col == 'artist' %}
					{% set list1 = row_.split(',') %}
						<strong>Artist: </strong>
						{% for item in list1 %}
						  <a href="#" onclick="document.getElementById('someID').value='{{item}}'; 
						  	document.getElementById('someType').value='artist';   		
						    document.getElementById('search_form').submit();
">{{item}}</a>									
						{% endfor %}
						</br>
			{% elif col == 'publisher' %}
					{% set list1 = row_.split(',') %}
						<strong>Publisher: </strong>
						{% for item in list1 %}
						  <a href="#" onclick="document.getElementById('someID').value='{{item}}'; 
						  	document.getElementById('someType').value='publisher';   		
						    document.getElementById('search_form').submit();
">{{item}}</a>									
						{% endfor %}
						</br>
			{% elif col == 'genres' %}
					{% set list1 = row_.split(',') %}
						<strong>Genres: </strong>
						{% for item in list1 %}
						  <a href="#" onclick="document.getElementById('someID').value='{{item}}';
						  document.getElementById('someType').value='genres';   		
						  document.getElementById('search_form').submit();
">{{item}}</a>						
						{% endfor %}
						</br>
			{% elif col == 'recommendations' %}
					{% set list1 = row_.split(',') %}
						<strong>Recommendations: </strong>
						{% for item in list1 %}
							<a href="#" onclick="document.getElementById('someID').value='{{item}}'; 
						  document.getElementById('someType').value='title';   		
						  document.getElementById('search_form').submit();">{{ item }}</a>
						{% endfor %}
						</br>
			{% elif col == 'summary' %}
					{% set list1 = row_.split('***') %}
						{% for item in list1 %}
						<strong>Summary: </strong>{{ item }}
						{% endfor %}
						</br>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
<form action="/advanced_search" method="post" id="search_form">
	<input type="hidden" id="someType" name="search_type"/>
	<input type="hidden" id="someID" name="search"/>
</form>
{% endblock %}
